* {
  background-color: var(--secondaryColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --card-height: 45rem;
  --card-width: 20rem;
  --primaryColor: #192a56;
  --secondaryColor: #273c75;
  --white: #fff;
}