* {
  background-color: #6D214F;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --card-height: 75vh;
  --card-width: calc(var(--card-height) / 1.5);
  --white: #fff;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}