* {
  background-color: var(--secondaryColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --card-height: 35rem;
  --card-width: 20rem;
  --primaryColor: #192a56;
  --secondaryColor: #273c75;
  --white: #fff;
  --lightGrey: #CCCCCC;
}

/* ===== Scroll Bar ===== */

::-webkit-scrollbar {
  background: var(--white);
  width: 11px;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background: #282f4e;
  width: 100%;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background: #454f6d;
}